<!DOCTYPE html>
<html lang="en" class="body">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Landing page</title>
</head>

<header>

</header>

<main>

    <body>

        <h1 class="greet">Hola a la aplicación <br> hecha con la API de <br> Dragon Ball</h1>

        <div class="container-button">
            <a href="http://localhost:9090/dragonball/allcharacters"> <button class="select-button">Todos los
                    personajes</button></a>
            <a href="http://localhost:9090/dragonball/character/random"><button
                    class="select-button">Random</button></a>
            <a href="http://localhost:9090/dragonball/game"> <button class="select-button">Game</button></a>
        </div>

    </body>
</main>


<footer>

</footer>




</html>